@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-orange{
  @apply bg-orange-400 p-3 rounded-xl text-zinc-50;
}

.circle {
  width: 90px; /* Largeur du cercle */
  height: 90px; /* Hauteur du cercle */
  border-radius: 50%; /* Rend l'élément circulaire */
  overflow: hidden; /* Cache tout ce qui dépasse du cercle */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid bisque;
}

.circle-trans {
  width: 90px; /* Largeur du cercle */
  height: 90px; /* Hauteur du cercle */
  border-radius: 50%; /* Rend l'élément circulaire */
  overflow: hidden; /* Cache tout ce qui dépasse du cercle */
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle img {
  width: 100%; /* L'image prend toute la largeur du cercle */
  height: 100%; /* L'image prend toute la hauteur du cercle */
  object-fit: cover; /* Assure que l'image s'ajuste bien au cercle sans déformation */
}

input {
  @apply block min-w-0 rounded-xl py-1.5 pl-1 pr-3 text-base text-gray-900 border-2 border-solid border-orange-500 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6 ;
}

select{
  @apply bg-zinc-50 block min-w-0 rounded-xl py-1.5 pl-1 pr-3 text-base text-gray-900 border-2 border-solid border-orange-500 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6 ;
}